body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3D5A80;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #98C1D9;
}

footer {
  background-color: #98C1D9;
}

.media {
  background-color: #E0FBFC;
}

#contact-form {
  background-color: #E0FBFC;
}

#resume-card {
  background-color: #E0FBFC;
}

#resume-download {
  background-color: #E0FBFC;
}

.twoBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 570px) {
  
  #page-header {
    text-align: center;
  }

  .navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-nav .nav-item {
    text-align: center;
    font-size: x-large;
  }

  #adam-portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #about-heading {
    text-align: center;
  }

  .media-body {
    text-align: center;
  }

  #contact-card h1 {
    text-align: center;
  }

  #contact-card .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #resume-card .h2{
    text-align: center;
  }

  #resume-download {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #resume-download h2 {
    text-align: center;
  }
}